{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Connections" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Connections") %}
{% endblock page_header %}

{% block main %}
<link rel="stylesheet" href="css/status-light.css">

<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  	<div id="info" style="display: none;">
		<ul>
          	<li>Item 1</li>
          	<li>Item 2</li>
          	<li>Item 3</li>
          	<li>Item 4</li>
          	<li>Item 5</li>
          	<li>Item 6</li>
          	<li>Item 7</li>
     		</ul>
  	</div>
  </div>
</div>
<div class="led-red"></div>
<div class="led-yellow"></div>
<div class="led-green"></div>


<script type='text/javascript'>
$(function(){
     	//debugger
	var count = 0;
     	$('#reachability_tests tr').each(function(){
    		$(this).find('td').each(function(){
			//debugger
			if(count == 3 && (this.textContent === "PASS" || this.textContent === "FAIL" || this.textContent === "PENDING")){
				$(this).addClass("status-light");
				if(this.textContent === "PASS"){
					$(this).addClass("test-pass");
					$(this).empty();
				}
				else if(this.textContent === "PENDING"){
					$(this).addClass("test-pending");
					$(this).empty();
				}
				else if(this.textContent === "FAIL"){
                                        $(this).addClass("test-fail");
					$(this).empty();
                                }
			}
			count++;
        		//do your stuff, you can use $(this) to get current cell
    		})
		count = 0;
	})
     $( ".test-pass" ).wrapInner( "<div class='test-pass-msg'></div>");
     $( ".test-pending" ).wrapInner( "<div class='test-pending-msg'></div>");
     $( ".test-fail" ).wrapInner( "<div class='test-fail-msg'></div>");
     hoverOverMenu('.test-pass-msg');
     hoverOverMenu('.test-pending-msg');
     hoverOverMenu('.test-fail-msg');
});

function hoverOverMenu(hovermenu){
	//debugger
	$(hovermenu).hover(function(){
          	$('#info').show();
     	},function(){
          	$('#info').hide();
     	});

}

function addReachabilityTestRow(){
	var testname = $("#id_name").val();
	var currentdate = new Date();
        var datetime = currentdate.getFullYear() + "-"
                + ("0" + (currentdate.getMonth()+1)).slice(-2)  + "-" 
                + ("0" + currentdate.getDate()).slice(-2) + " T "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds() + " UTC";

	var rowelement = '<tr class data-display='+testname+' data-object-id="" id="keypairs__row__'+testname+'"><td class="multi_select_column"><input class="table-row-multi-select" name="object_ids" type="checkbox" value="'+testname+'"></td><td class="sortable normal_column">'+testname+'</td><td class="sortable normal_column">-</td><td class="sortable normal_column">-</td><td class="actions_column"><div class="btn-group"><a onclick="deleteReachabilityTestRow()" class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_run">Run Test</a><a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> More <span class="caret"></span></a><ul class="dropdown-menu row_actions clearfix"><li class="clearfix"><a class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_update">Edit Test</a></li></ul></div></td></tr>';
	
	$('#reachability_tests').append(rowelement);


}
function deleteReachabilityTestRow(){
	var testname = "Test";
	var currentdate = new Date();
        var datetime = currentdate.getFullYear() + "-"
                + ("0" + (currentdate.getMonth()+1)).slice(-2)  + "-" 
                + ("0" + currentdate.getDate()).slice(-2) + " T "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds() + " UTC";
	document.getElementById("reachability_tests").deleteRow(5);
	var rowelement = '<tr class data-display='+testname+' data-object-id="" id="keypairs__row__'+testname+'"><td class="multi_select_column"><input class="table-row-multi-select" name="object_ids" type="checkbox" value="'+testname+'"></td><td class="sortable normal_column">'+testname+'</td><td class="sortable normal_column">'+datetime+'</td><td class="sortable normal_column"><font color="green">Pass</font></td><td class="actions_column"><div class="btn-group"><a onclick="deleteReachabilityTestRow()" class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_run">Run Test</a><a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> More <span class="caret"></span></a><ul class="dropdown-menu row_actions clearfix"><li class="clearfix"><a class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_update">Edit Test</a></li></ul></div></td></tr>';
	$('#reachability_tests').append(rowelement);
}
</script>

{% endblock %}

