{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Connections" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Connections") %}
{% endblock page_header %}

{% block main %}
<link rel="stylesheet" href="css/status-light.css">
<link rel="stylesheet" href="css/opentip.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<div class="row-fluid">
  <div class="span12">
  {{ tab_group.render }}
  	<div id="info" style="display: none;"></div>
  </div>
</div>
<div id="test"></div>
<div class="led-yellow"></div>
<div class="led-green"></div>


<script src="js/opentip-jquery-excanvas.js"></script>

<script type='text/javascript'>
$(function(){
     	//debugger
	$("#reachability_tests__action_troubleshoot").html("<i class='fa fa-bolt fa-lg'></i>  Quick Test");
	var count = 0;
     	$('#reachability_tests tr').each(function(){
    		$(this).find('td').each(function(){
			//debugger
			if(count == 3 && (this.textContent === "PASS" || this.textContent === "FAIL" || this.textContent === "PENDING")){
				$(this).addClass("status-light");
				if(this.textContent === "PASS"){
					$(this).addClass("test-pass");
					$(this).empty();
				}
				else if(this.textContent === "PENDING"){
					$(this).addClass("test-pending");
					$(this).empty();
				}
				else if(this.textContent === "FAIL"){
                                        $(this).addClass("test-fail");
					$(this).empty();
                                }
			}
			count++;
        		//do your stuff, you can use $(this) to get current cell
    		})
		count = 0;
	})
	//debugger
	
	$( ".test-pass" ).wrapInner( "<div class='test-general-settings'><div class='test-text'>PASS</div><i class='status-light test-pass-msg fa fa-check fa-4x'></i></div>");
     	$( ".test-pending" ).wrapInner( "<div class='test-general-settings'><div class='test-text'>PENDING</div><i class='status-light test-pending-msg fa fa-exclamation fa-4x'></i></div>");
	$( ".test-fail" ).wrapInner( "<div class='test-general-settings'><div class='test-text'>FAIL</div><i class='status-light test-fail-msg fa fa-times fa-4x'></i></div>");
     	initializeToolTips('.test-pass-msg','pass');
        initializeToolTips('.test-pending-msg','pending');
        initializeToolTips('.test-fail-msg','fail');
	hoverOverMenu('.test-pass-msg');
     	hoverOverMenu('.test-pending-msg');
     	hoverOverMenu('.test-fail-msg');
	manageStatusLists();
});

function manageStatusLists(){
	$(document).mousemove(function(event) {
        	var x = event.clientX, y = event.clientY,
        	elementMouseIsOver = document.elementFromPoint(x, y);
        	if($(elementMouseIsOver).parents("#reachability_tests").length == 0 && $(elementMouseIsOver).hasClass('opentip') == false && $(elementMouseIsOver).parents(".opentip").length == 0){
			//debugger
        		for(var i = 0; i < Opentip.tips.length; i ++) { Opentip.tips[i].hide(); }
        	}
        });

}

function initializeToolTips(tipMenuItems, initialContent){
	Opentip.styles.runListStyle = {
	  // Make it look like the alert style. If you omit this, it will default to "standard"
                extends: "dark",
                // Tells the tooltip to be fixed and be attached to the trigger, which is the default target
                target: true,
                stem: true,
		showOn: null,
		hideTrigger: "closeButton",
		group: "runLists"
        };

	if($(tipMenuItems).length > 0){
                $(tipMenuItems).each(function(){
                        $(this).opentip(initialContent, { style: 'runListStyle' });
                })
        }
}

function hoverOverMenu(hoverMenu){
	//debugger
	$(hoverMenu).hover(function(){
		//debugger
		var current = this;
		populateMenu(current);
		  
		if($(hoverMenu).length > 0){
			$(hoverMenu).each(function(){
				//debugger
				if($("#info").text().split("-").length > 2){
					$(this).data("opentips")[0].setContent($("#info").html());
				}else{
					$(this).data("opentips")[0].setContent("No data available.");
				}
				
				//debugger
		})
		}
		//debugger
		//if($(".status-list-msg").
		$(this).data("opentips")[0].show();
		
     	},function(){
		$('#info').empty();
     	});

}

function populateMenu(dataObject){
	//debugger
	var rowElement = $(dataObject).closest("tr");
	var rawData = $(rowElement.children()[4]).html();
	var cleanData = rawData.replace(/[^\w\s,:-]/gi, '').split(",");
	var testName = $($(rowElement).children()[1]).text();
	var statusMsg = '';
	// Make the list itself which is a <ul>
        var listElement = document.createElement("ul");

	// add it to the page
        $('#info').append(listElement);

        var numberOfListItems = cleanData.length;

        for( var i =  0 ; i < numberOfListItems ; ++i){
		//debugger
		statusMsg = listItemStatus(dataObject);
		$(listElement).append("<div class=status-list-msg>" + statusMsg + "<a href='{% url 'horizon:project:connections:index' %}reachability_tests/"+testName+"/'>" + cleanData[i] + "</a></div>");
        }
	//debugger
	
}

function listItemStatus(statusListItem){
	var statusMsg = '';
	var randNum = 0;
	if($(statusListItem).hasClass('test-pass-msg')){
	        statusMsg = " Succeeded at ";
        }else if($(statusListItem).hasClass('test-fail-msg')){
		statusMsg = " Failed at ";
	}else if($(statusListItem).hasClass('test-pending-msg')){
		randNum = Math.floor((Math.random()*2)+0); 
		//debugger
		if(randNum == 0){
			statusMsg = " Succeeded at ";
		}else{
			statusMsg = " Failed at ";
		}
	}
	return statusMsg;
}
/******
function addReachabilityTestRow(){
	var testname = $("#id_name").val();
	var currentdate = new Date();
        var datetime = currentdate.getFullYear() + "-"
                + ("0" + (currentdate.getMonth()+1)).slice(-2)  + "-" 
                + ("0" + currentdate.getDate()).slice(-2) + " T "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds() + " UTC";

	var rowelement = '<tr class data-display='+testname+' data-object-id="" id="keypairs__row__'+testname+'"><td class="multi_select_column"><input class="table-row-multi-select" name="object_ids" type="checkbox" value="'+testname+'"></td><td class="sortable normal_column">'+testname+'</td><td class="sortable normal_column">-</td><td class="sortable normal_column">-</td><td class="actions_column"><div class="btn-group"><a onclick="deleteReachabilityTestRow()" class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_run">Run Test</a><a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> More <span class="caret"></span></a><ul class="dropdown-menu row_actions clearfix"><li class="clearfix"><a class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_update">Edit Test</a></li></ul></div></td></tr>';
	
	$('#reachability_tests').append(rowelement);


}
function deleteReachabilityTestRow(){
	var testname = "Test";
	var currentdate = new Date();
        var datetime = currentdate.getFullYear() + "-"
                + ("0" + (currentdate.getMonth()+1)).slice(-2)  + "-" 
                + ("0" + currentdate.getDate()).slice(-2) + " T "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds() + " UTC";
	document.getElementById("reachability_tests").deleteRow(5);
	var rowelement = '<tr class data-display='+testname+' data-object-id="" id="keypairs__row__'+testname+'"><td class="multi_select_column"><input class="table-row-multi-select" name="object_ids" type="checkbox" value="'+testname+'"></td><td class="sortable normal_column">'+testname+'</td><td class="sortable normal_column">'+datetime+'</td><td class="sortable normal_column"><font color="green">Pass</font></td><td class="actions_column"><div class="btn-group"><a onclick="deleteReachabilityTestRow()" class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_run">Run Test</a><a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> More <span class="caret"></span></a><ul class="dropdown-menu row_actions clearfix"><li class="clearfix"><a class="btn btn-small btn-edit" id="keypairs__row_'+testname+'__action_update">Edit Test</a></li></ul></div></td></tr>';
	$('#reachability_tests').append(rowelement);
}
*******/
</script>

{% endblock %}

